body{
    padding: 8%
}
#addCntrls{
    display: flex;
    flex-direction: column;
    width: 10%;
}
#addBtn{
    margin-top: 2%;;
}
.xbtn{
    background-color: gainsboro;
    padding-left: 8px;
    padding-right: 8px;
    border-radius: 40%;
    cursor: pointer;
}
